<h3>{{t 'form.book_form.heading'}}</h3>
<div class="row">
  <div class="form-group col-sm-8">
    <label for="titleInput">{{t 'form.book_form.title_label'}}</label>
    {{input type="text" class="form-control" id="titleInput" placeholder=(t 'form.book_form.title_placeholder') value=order.book.title}}
  </div>
</div>
<div class="row">
  <div class="form-group col-sm-8">
    <label for="authorInput">{{t 'form.book_form.author_label'}}</label>
    {{input type="text" class="form-control" id="authorInput" placeholder=(t 'form.book_form.author_placeholder') value=order.book.author}}
  </div>
</div>
<div class="row">
  <div class="form-group col-sm-8">
    <label for="isbnInput">{{t 'form.book_form.isbn_label'}}</label>
    {{input type="text" class="form-control" id="isbnInput" placeholder=(t 'form.book_form.isbn_placeholder') value=order.book.isbn}}
  </div>
</div>
<div class="row">
  <div class="form-group col-sm-4">
    <label for="yearInput">{{t 'form.book_form.year_label'}}</label>
    {{input type="text" class="form-control" id="yearInput" placeholder=(t 'form.book_form.year_placeholder') value=order.book.year}}
  </div>
</div>
<div class="row">
  <div class="form-group col-sm-6">
    <label for="otherInput">{{t 'form.book_form.other_label'}}</label>
    {{textarea rows=4 class="form-control" id="otherInput" value=order.book.other}}
  </div>
</div>
<div class="row">
  <div class="form-group col-sm-6">
    <label for="bookTypeSelect">{{t 'form.book_form.book_type_label'}}</label>
    {{#x-select id="bookTypeSelect" class="form-control" action="onBookTypeSelect" value=selectedBookType as |xs|}}
      {{#each bookTypeOptions as |type|}}
        {{#xs.option value=type.value}}{{type.label}}{{/xs.option}}
      {{/each}}
    {{/x-select}}
    <span class="help-block">{{t 'form.book_form.e_book_help_text'}}</span>
  </div>
</div>
<div class="row">
  <div class="form-group col-sm-6">
    <label for="validDateInput">{{t 'form.book_form.valid_date_label'}}</label>
    {{input type="text" class="form-control" id="validDateInput" placeholder=(t 'form.book_form.valid_date_placeholder') value=order.book.validDate}}
  </div>
</div>
<hr>
<h3>{{t 'form.book_form.reservation_heading'}}</h3>
<div class="form-group">
  <div class="checkbox">
    <label>
      {{input checked=order.book.reserveBook type="checkbox"}} {{t 'form.book_form.reserve_label'}}
    </label>
  </div>
</div>
{{#if order.book.reserveBook}}
  <div class="row">
    <div class="form-group col-sm-6">
      <label for="libraryCardInput">{{t 'form.book_form.library_card_label'}}</label>
      {{input type="text" class="form-control" id="libraryCardInput" placeholder=(t 'form.book_form.library_card_placeholder') value=order.book.libraryCard}}
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-6">
      <label for="librarySelect">{{t 'form.book_form.pickup_label'}}</label>
      {{#x-select class="form-control" action="onLibrarySelect" value=selectedLibrary as |xs|}}
        <option>{{t 'form.book_form.pickup_prompt'}}</option>
          {{#each libraries as |library|}}
            {{#xs.option value=library.code}}{{library.label}}{{/xs.option}}
          {{/each}}
      {{/x-select}}
    </div>
  </div>
{{/if}}
<hr>
