<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>{{t 'heading'}}</h1>
      <p class="lead">
        {{t 'lead'}}
      </p>
      <p>
        {{t 'body'}}
      </p>
      <p>
        <a href={{t 'link_url'}}>{{t 'link_text'}}</a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      {{outlet}}
    </div>
  </div>

</div>
